a {
  color: rgb(74 222 128);
}

.shadow-box:hover {
  transition: box-shadow 200ms;
  box-shadow: 4px 4px 0px 0px rgb(74 222 128);
}

.weird-object1 {
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.weird-object2 {
  border-radius:40% 40% 50% 40%/30% 50% 50% 50%;
}