.round-image {
    border-radius: 50%;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  
  .flex-center {
    align-items: center;
  }

.bg-dark {
    color: white;
    background-color: #131d27;
    .title, strong {
        color: white;
    }
}

img.emoji {
    height: 1.3em;
    width: 1.3em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.3em;
}

.big-text {
    font-size: 20px;
}

#mc_embed_signup label {
  font-size: 30px;
}

.title-color {
  color: white;
}
.twitter-color {
  color: #1ea1f2;
}
.github-color {
  color: #24292e;
}
.linkedin-color {
  color: #0077b5;
}
.instagram-color {
  color: #272727;
}
.medium-color {
  color: rgba(0,0,0,.84);
}