a {
  color: rgb(74 222 128);
}

.shadow-box:hover {
  transition: box-shadow 200ms;
  box-shadow: 4px 4px 0px 0px rgb(74 222 128);
}

.shadow-left {
  box-shadow: -6px 6px 0px 0px rgb(74 222 128);
}

.weird-object1 {
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.weird-object2 {
  border-radius:40% 40% 50% 40%/30% 50% 50% 50%;
}


.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 8px 0 4px 0;
}

.marquee .marqueeone{
  animation: marquee 20s linear infinite;
}

.marquee .marqueetwo{
  animation: marquee 20s linear 2.5s infinite;
}

.marquee .marqueethree{
  animation: marquee 20s linear 5s infinite;
}

.marquee .marqueefour{
  animation: marquee 20s linear 7.5s infinite;
}

/* even out the elements */
.marquee div {
  position: absolute;
  width: 100%;
  left: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.marquee:hover div {
  animation-play-state: paused;
}

@keyframes marquee {
  0% { left: 100%; }
  50% { left: -100%; }
  100% {left: -100%}
}